/*!
 * *************************************
 *    Solar Content Management System/ chart 
 * *************************************
 * 
 */
.tp-laoder{width:100%;height:300px;text-align:center;padding:100px 0}.tp-laoder img{display:block;margin:0 auto}