#hamragdsan{
    height: 100vh;
    width: 100%;
}
#hicheecl-search{
    height: 50px;
    width: 100%;
    line-height: 50px;
}
#hicheecl-content{
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: auto;
}
.tulsun{
    background: green;
    width: 100%;
    height: 100%;
}
.tuluugui{
    background: red;
    width: 100%;
    height: 100%;
}


.hide{
    display: none;
}
.spinner {
    margin: -4px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 5px;
    height: 5px;
    background-color: #ffffff;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}

.htCore > tbody > tr:nth-child(odd) > td.saturday {
    background-color: #5ba0fe!important;
}
.htCore > tbody > tr:nth-child(odd) > td.sunday {
    background-color: #3d8efc!important;
}
.htCore > tbody > tr:nth-child(even) > td.saturday {
    background-color: #4d98fe!important;
}
.htCore > tbody > tr:nth-child(even) > td.sunday {
    background-color: #2d85fc!important;
}