#binaryTeam{
    padding: 10px;

}
#binarTreeShow{

    max-width: 100%;
    height:calc(100vh - 130px);
    overflow: auto;
}

.node {
    cursor: pointer;
}

.overlay{
    background-color:#EEE;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size:10px;
    font-family:sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
    display: none;
}
#body > svg{
    border: 2px solid #ccc;

}
.hidden-form{
    display: none;
}

.show-form{
    display: block !important;
}

.form-control{
    margin: 10px 0;
}

.disactive circle {
    fill: #f00 !important;
    stroke: red !important;;
    stroke-width: 3px;
    cursor: pointer;
}
.active-user circle {
    fill: green !important;
    stroke: green !important;
    stroke-width: 3px;
    cursor: pointer;
}
.red_line{
    border-bottom: 1px solid red;
}