.chat-container .fa{
    color: #fff;
    padding: 12px;
}
.chat-container .right .top span {
    font-size: 15px;
    font-family: "Open Sans",sans-serif;
    color: #999;
}
.chat-container .left .people .person.active span, .chat-container .left .people .person:hover span {
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
}
.chat-container .left .people .person .time {
    font-family: "Open Sans",sans-serif;
}
.chat-container .left .people .person .preview {
    font-family: "Open Sans",sans-serif;
}
.chat-container .right .chat.active-chat {
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.chat-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 52px);
    background-color: #fff;
    overflow-y: hidden;

}
.chat-container .left {
    float: left;
    width: 37.6%;
    height: 100%;
    border: 1px solid #e6e6e6;
    overflow-y: auto;
    background-color: #fff;
}
.chat-container .left .top {
    position: relative;
    width: 100%;
    height: 65px;
    padding: 10px 20px 20px 20px;
}
.chat-container .left .top:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 80%;
    height: 1px;
    content: '';
    background-color: #e6e6e6;
    transform: translate(-50%, 0);
}
.chat-container .left input {
    float: left;
    min-width: 188px;
    width: 100%;
    height: 42px;
    padding: 0 15px;
    border: 1px solid #e6e6e6;
    background-color: #eceff1;
    border-radius: 21px;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
}
.chat-container .left input:focus {
    outline: none;
}
.chat-container .left a.search {
    display: block;
    float: left;
    width: 42px;
    height: 42px;
    margin-left: 10px;
    border: 1px solid #e6e6e6;
    background-color: #00b0ff;

    background-repeat: no-repeat;
    background-position: top 12px left 14px;
    border-radius: 50%;
}
.chat-container .left .people {
    margin-left: -1px;

    border-left: 1px solid #e6e6e6;
    width: 100%;
}
.chat-container .left .people .person {
    position: relative;
    width: 100%;
    padding: 12px 10% 5px;
    cursor: pointer;
    background-color: #fff;
}
.chat-container .left .people .person:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 80%;
    height: 1px;
    content: '';
    background-color: #e6e6e6;
    transform: translate(-50%, 0);
}
.chat-container .left .people .person .letter-user {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 50%;
    background: #0275d8!important;
    line-height: 40px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}
.chat-container .left .people .person.active span, .chat-container .left .people .person:hover span.letter-user {
    color: #fff;
    background: transparent;
    font-size: 16px !important;

}
.chat-container .left .people .person .name {
    font-size: 14px;
    line-height: 22px;
    color: #1a1a1a;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
}
.chat-container .left .people .person .time {
    font-size: 14px;
    position: absolute;
    top: 16px;
    right: 10%;
    padding: 0 0 5px 5px;
    color: #999;
    background-color: #fff;
}
.chat-container .left .people .person .preview {
    font-size: 14px;
    display: inline-block;
    overflow: hidden !important;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #999;
}
.chat-container .left .people .person.active, .chat-container .left .people .person:hover {
    margin-top: -1px;
    margin-left: -1px;
    padding-top: 10px;
    border: 0;
    background-color: #00b0ff;
    width: calc(100% + 2px);
    padding-left: calc(10% + 1px);
}
.chat-container .left .people .person.active span, .chat-container .left .people .person:hover span {
    color: #fff;
    background: transparent;
}
.chat-container .left .people .person.active:after, .chat-container .left .people .person:hover:after {
    display: none;
}
.chat-container .right {
    position: relative;
    float: left;
    width: 62.4%;
    height: 100%;
}
.chat-container .right .top {
    width: 100%;
    height: 47px;
    padding: 15px 29px;
    background-color: #eceff1;
}
.chat-container .right .top span {
    font-size: 15px;
    color: #999;
}
.chat-container .right .top span .name {
    color: #1a1a1a;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
}
.chat-container .right .chat {
    position: relative;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 35px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #e6e6e6;
    height: calc(100% - 108px);
    justify-content: flex-end;
    flex-direction: column;

}
.chat-container .right .chat.active-chat {
    display: block;
    /*display: flex;*/
}
.chat-container .right .chat.active-chat .bubble {
    -moz-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
    -o-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
    -webkit-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
    transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
}
.chat-container .right .chat.active-chat .bubble:nth-of-type(1) {
    -moz-animation-duration: 0.15s;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
}
.chat-container .right .chat.active-chat .bubble:nth-of-type(2) {
    -moz-animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.chat-container .right .chat.active-chat .bubble:nth-of-type(3) {
    -moz-animation-duration: 0.45s;
    -webkit-animation-duration: 0.45s;
    animation-duration: 0.45s;
}
.chat-container .right .chat.active-chat .bubble:nth-of-type(4) {
    -moz-animation-duration: 0.6s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}
.chat-container .right .chat.active-chat .bubble:nth-of-type(5) {
    -moz-animation-duration: 0.75s;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
}
.chat-container .right .chat.active-chat .bubble:nth-of-type(6) {
    -moz-animation-duration: 0.9s;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}
.chat-container .right .chat.active-chat .bubble:nth-of-type(7) {
    -moz-animation-duration: 1.05s;
    -webkit-animation-duration: 1.05s;
    animation-duration: 1.05s;
}
.chat-container .right .chat.active-chat .bubble:nth-of-type(8) {
    -moz-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}
.chat-container .right .chat.active-chat .bubble:nth-of-type(9) {
    -moz-animation-duration: 1.35s;
    -webkit-animation-duration: 1.35s;
    animation-duration: 1.35s;
}
.chat-container .right .chat.active-chat .bubble:nth-of-type(10) {
    -moz-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
.chat-container .right .write {
    position: absolute;
    bottom: 15px;
    left: 30px;
    height: 42px;
    padding-left: 8px;
    border: 1px solid #e6e6e6;
    background-color: #eceff1;
    width: calc(100% - 58px);
    border-radius: 5px;
}
.chat-container .right .write input {
    font-size: 16px;
    float: left;
    min-width: 347px;
    width: calc(100% - 80px);
    height: 40px;
    padding: 0 10px;
    color: #1a1a1a;
    border: 0;
    outline: none;
    background-color: #eceff1;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
}
.chat-container .right .write .write-link.attach:before {
    display: inline-block;
    float: left;
    width: 20px;
    height: 42px;
    content: '';
    background-image: url(/assets/chat/attachemnt.png);
    background-repeat: no-repeat;
    background-position: center;
}
.chat-container .right .write .write-link.smiley:before {
    display: inline-block;
    float: left;
    width: 20px;
    height: 42px;
    content: '';
    background-image: url(/assets/chat/smiley.png);
    background-repeat: no-repeat;
    background-position: center;
}
.chat-container .right .write .write-link.send:before {
    display: inline-block;
    float: left;
    width: 20px;
    height: 42px;
    margin-left: 11px;
    content: '';
    background-image: url(/assets/chat/send.png);
    background-repeat: no-repeat;
    background-position: center;
}
.chat-container .right .bubble {
    font-size: 14px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 15px;
    padding: 13px 14px;
    vertical-align: top;
    border-radius: 5px;
    min-width: 120px;
}
.chat-container .right .bubble:before {
    position: absolute;
    top: 19px;
    display: block;
    width: 8px;
    height: 6px;
    content: '\00a0';
    transform: rotate(29deg) skew(-35deg);
}
.chat-container .right .bubble.you {
    float: left;
    color: #fff;
    background-color: #00b0ff;
    align-self: flex-start;
    -moz-animation-name: slideFromLeft;
    -webkit-animation-name: slideFromLeft;
    animation-name: slideFromLeft;
}
.chat-container .right .bubble.you:before {
    left: -3px;
    background-color: #00b0ff;
}
.chat-container .right .bubble.me {
    float: right;
    color: #1a1a1a;
    background-color: #eceff1;
    align-self: flex-end;
    -moz-animation-name: slideFromRight;
    -webkit-animation-name: slideFromRight;
    animation-name: slideFromRight;
}
.chat-container .right .bubble.me:before {
    right: -3px;
    background-color: #eceff1;
}
.chat-container .right .conversation-start {
    position: relative;
    width: 100%;
    margin-bottom: 27px;
    text-align: center;
}
.chat-container .right .conversation-start span {
    font-size: 14px;
    display: inline-block;
    color: #999;
}
.chat-container .right .conversation-start span:before, .chat-container .right .conversation-start span:after {
    position: absolute;
    top: 10px;
    display: inline-block;
    width: 30%;
    height: 1px;
    content: '';
    background-color: #e6e6e6;
}
.chat-container .right .conversation-start span:before {
    left: 0;
}
.chat-container .right .conversation-start span:after {
    right: 0;
}

@keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}
@-webkit-keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}
@keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}
@-webkit-keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}
.chat_date{
    position: absolute;
    bottom: -15px;
    left: 0;
    font-size: 10px;
    color: #333;
}
/*loading*/
#loading_bar{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1000;
    text-align: center;
    display: none;
}
#loading_bar img{
    vertical-align: middle;
    text-align: center;
    display: block;
    margin-top:  calc(50vh - 80px);
    margin-left:  calc(50% - 23px);
}

.not_seet{
    font-size: 10px;
    color: #fff;
    background: red;
    padding: 4px 6px;
    border-radius: 10px !important;
    display: none;
}
#message{
    border: 1px solid #00b0ff;
}